---
import Navigation from '../components/navigation.astro';
import '../styles/global.css';
import Footer from '../components/Foote.astro';
const pageTitle = "自己紹介";



const identity = {firstName: "秀真", lastName: "下野", age: 20,
  country: "日本",
  occupation: "学生",
  hobbies: ["野球", "競馬", "F1"],};
const skills = ["野球の試合の分析", "馬券の購入", "ドキュメントの執筆"]
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";



---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{ skillColor, fontWeight, textCase: "uppercase" }}>
            h1 {
                color: blue;
                font-size: 4rem;
            }
            .skill{
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
  
      
  
	</head></head><Navigation />
	<Footer /><body>
		<h1>{pageTitle}</h1>
        <p>自己紹介ページです。<p>以下は私に関するいくつかの事実です。</p>
<ul>
  <li>私の名前は{identity.firstName}です。</li>
  <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
  {identity.hobbies.length >= 2 &&
    <li>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</li>
  }
</ul>
<p>私のスキルは以下の通りです。 </p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>{happy && <p>I am happy to be learning Astro! Astroを学べて幸せです！</p>}

{finished && <p>I finished this tutorial! このチュートリアルを終えました！</p>}

{goal === 3 ? <p>My goal is to finish in 3 days. 3日で終えるのが目標です。</p> : <p>My goal is not 3 days. 3日が目標ではありません。</p>}